@import "../../../scss/variables";

.image-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  img {
    width: 50rem;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 1rem $textDark;
    margin-top: 5rem;
  }

  button {
    background: transparent;
    border: none;
    font-size: 5rem;
    color: $textDark;
    cursor: pointer;
  }
}