@import "../../../scss/variables";

.image-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &:hover {
      transition: all .8s ease;
      gap: 5rem;
      margin-bottom: 2rem;
    }
  }

  img {
    width: 50rem;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 1rem $textDark;
    margin-top: 3rem;

    &:hover {
      transition: all .8s ease;
      transform: scale(1.1);
      box-shadow: 0 0 2.2rem $general;
    }
  }

  button {
    background: transparent;
    border: none;
    font-size: 5rem;
    color: $textDark;
    cursor: pointer;
  }

  p {
    color: $textDark;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    input {
      width: 100%;
      padding: 1rem;
      border: 1px solid $textDark;
      border-radius: 1rem;
      font-size: 1.5rem;
      color: $textDark;

      &:focus, &:hover {
        transition: all .8s ease;
        outline: none;
        border: 1px solid $general;
      }
    }

    button {
      width: 100%;
      padding: 1rem;
      border: 1px solid $textDark;
      border-radius: 1rem;
      font-size: 1.5rem;
      color: $textDark;
      cursor: pointer;

      &:hover {
        transition: all .8s ease;
        outline: none;
        border: 1px solid $general;
      }
    }
  }
}